<!-- Footer -->
</div>
</main>
<footer>
    <div class="footer"></div>
    <ul>
        <p class="footerTxt">&copy;Copyright - Garv Chhokra - 301183937 - COMP229 Web Application Development</p>
    </ul>
</footer>
</body>

</html>