<!-- Header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garv - Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../style.css">
    <link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="companyLogo">
            <img class="logoImg" src="./images/C letter.png"><span class="logoHead">Creative</span>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="./">Home</a></li>
                <li><a href="./aboutme">About</a></li>
                <li><a href="./projects">Projects</a></li>
                <li><a href="./skills">Skills</a></li>
                <li><a href="./contactme">Contact</a></li>
                <% if(typeof displayName == 'string' && displayName) { %>
                    <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome,
                        <%= displayName %>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">
                            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a href="/logins" class="nav-link">
                                <i class="fas fa-lg fa-sign-in-alt"></i> Login</a>
                        </li>
                        <% } %>
            </ul>
        </div>

    </header>
    <main>
        <div class="mainBody">
            <h1 style="text-align: center;">
                <%= title %>
            </h1>