<!-- About -->
<%- include partials/header.ejs  %>
    <img class="imgGarv" src="./images/GARVIMG.JPG" alt="Garv Chhokra">
    <p id="abt" class="aboutGarv">I am student of Centennial College in SET - AI program. When I started doing website development course it seems very fascinating and I got interested in this fiels. I am thinking to pursue my future career in this field. <br> <br>I am actively learning
        more about this field so that I can make and change a lot in this field. Apart from this, I am also searching some co-op jobs in my co-op term so that I can get some hands-on into this IT field.</p>
    <p>Link to the resume <a href="./pdf/Garv Chhokra Resume.docx" download>Click here</a>
    </p>

    <%- include partials/footer.ejs  %>