<!-- Contact -->
<%- include("partials/header") -%>
    <table>
        <tr>
            <td>First Name</td>
            <td>Garv</td>
        </tr>
        <tr>
            <td>Last name</td>
            <td>Chhokra</td>
        </tr>
        <tr>
            <td>Contact number</td>
            <td><a href="tel:4379913320"><i class="fa fa-phone" style="color: black;"></i> 437(991)3320</a></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><a href="mailto:garv.chhokra7@gmail.com"><i class="fa fa-envelope" style="color: black;"></i> garv.chhokra7@gmail.com</a></td>
        </tr>
        <tr>
            <td>GitHub</td>
            <td><a href="https://github.com/GarvChhokra/" target="_blank"><i class="fa fa-github" style="color: black;"></i> github.com/GarvChhokra/</a></td>
        </tr>
        <tr>
            <td>LinkedIn</td>
            <td><a target="_blank" href="https://www.linkedin.com/in/garv-chhokra-3769991b5/"><i class="fa fa-linkedin" style="color: rgb(16, 16, 215)"></i> Garv Chhokra</a></td>
        </tr>
    </table>
    <br>
    <h3 style="text-align: center;">Enter your Information for query:</h3>
    <form action="/">
        <div>
            <label>First name</label>
            <input type="text" placeholder="Garv" value="" required>
        </div>
        <div>
            <label>Last name</label>
            <input type="text" value="" placeholder="Chhokra" required>
        </div>
        <div>
            <label>Email</label>
            <input type="email" placeholder="example@gmail.com" required>
        </div>
        <div>
            <label>City</label>
            <input type="text" placeholder="Toronto" required>
        </div>
        <div>
            <label>Province</label>
            <select required>
            <option selected value="">..</option>
            <option>ON</option>
            <option>OT</option>
            <option>NB</option>
            <option>QB</option>
          </select>
        </div>
        <div>
            <label>Zip</label>
            <input type="text" required>
        </div>
        <br>
        <div>
            <button type="submit">Submit form</button>
            <button type="reset">Reset</button>
        </div>
    </form>
    <%- include("partials/footer") -%>