<!-- Home -->
<%- include("partials/header")-%>
    <h2 class="missionStatementHead">Hello Everyone</h2>
    <p id="home" class="missionStatement">My name is Garv Chhokra and I am student of Centennial College Software Engineering Technology - AI program. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam ea dolore aliquam quaerat dolor, beatae Lorem Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Corporis incidunt nulla laborum vero, soluta natus, explicabo quod perferendis eos ipsum, magnam labore aspernatur reiciendis repudiandae iusto eaque odit dolor dignissimos! ipsum dolor sit, amet consectetur adipisicing
        elit. Soluta sint nemo enim cumque modi temporibus magni in atque corrupti pariatur odit veniam quos, debitis adipisci distinctio, iusto possimus laudantium perspiciatis. blanditiis corrupti voluptatibus eius fugit deserunt iusto illum unde! Recusandae
        ea itaque tenetur sunt porro.

    </p>
    <h2 class="missionStatementHead">Mission Statement</h2>
    <p id="home" class="missionStatement">Our mission is to assist our clients in presenting a professional front to the marketplace. Presentation is everything and we believe this at UI Direct.This is why we offer the array of services that we do. Our clients need to showcase themselves
        in a professional manner - and this is why we offer web design, graphic design, Internet marketing, social media management, and much more. Today, consumers are everywhere. They look at websites, they look at Facebook and twitter, they look at
        letterhead, and they look at everything else in order to determine whether a company is "worthy" of doing business with them. If you fail to provide a professional image in any one of these areas, you may fail to obtain the level of business and
        thus the level of success that needs to be achieved. Our mission is to help with your professionalism through the services that we offer.

    </p>


    <%- include("partials/footer")-%>