<!-- Project -->
<%- include("partials/header")-%>
    <hr>
    <br>
    <div class="card" style="width: 18rem;">
        <h4>Project 1 - Portfolio Website</h4>
        <img class="projectImage" src="images/Screen Shot 2022-09-17 at 3.43.52 AM.png" alt="Card image cap">
        <p>This project uses HTML/CSS, Javascript, Express node.js, and EJS. It gives a good impression of doing full stack web development.</p>
    </div>
    <div class="card" style="width: 18rem;">
        <h4>Project 2 - SRS document</h4>
        <img class="projectImage" src="images/SRSDOC.png" alt="Card image cap">
        <p>This project gives a good knowledge of writing the requirements and methadologies that a project needs to make it. Apart from that UML diagrams and the use of Agile is also included in that project.</p>
    </div>
    <div class="card" style="width: 18rem;">
        <h4>Project 3 - Coding</h4>
        <img class="projectImage" src="images/Java.png" alt="Card image cap">
        <p>This project helps me in clearing the fundamentals of Java classes, inheritance, getter and setters, constructors, and access modifiers.</p>
    </div>
    <%- include("partials/footer")-%>