<!-- Services -->
<%- include("partials/header") -%>
    <marquee scrollamount="15">
        <img class="servicesImg" src="images/WebAppDevelop.jpeg">
        <img class="servicesImg" src="images/appDeveloper.jpeg" alt="">
        <img class="servicesImg" src="images/developer.webp" alt="">
    </marquee>
    <br>
    <h2 class="serviceText">We provide the best facility to our client.</h2>
    <p style="font-size: larger;"> <b> Our services includes: </b></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web Application Development</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile Application Development</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Developer</p>
    <h3 style="text-align: center;">We offer all the services to the fullest requirements and at the most competitive prices.</h3>

    <%- include("partials/footer")-%>