<!-- Services -->
<%- include("partials/header") -%>
    <!-- <marquee scrollamount="15">
        <img class="servicesImg" src="images/WebAppDevelop.jpeg">
        <img class="servicesImg" src="images/appDeveloper.jpeg" alt="">
        <img class="servicesImg" src="images/developer.webp" alt="">
    </marquee> -->
    <br>
    <div class="skillTtle">
        <p>Web Application Development</p>
        <div class="line">
            <div class="progress">Intermediate</div>
        </div>
    </div>
    <div class="skillTtle">
        <p>Business Analyst</p>
        <div class="lineBA">
            <div class="progressBA">Strong</div>
        </div>
    </div>
    <div class="skillTtle">
        <p>Developer</p>
        <div class="lineD">
            <div class="progressD">Intermediate</div>
        </div>
    </div>
    <div class="skillTtle">
        <p>Data Engineer</p>
        <div class="lineBA">
            <div class="progressBA">Learning</div>
        </div>
    </div>
    <%- include("partials/footer")-%>